/* ==========================================================================
 Thumbs
 ========================================================================== */
#github-icon {
  background-image: url("../img/github.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  padding-left: 30px;
}

#podcast-icon {
  background-image: url("../img/podcast.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  padding-left: 30px;
}

#rss-icon {
  background-image: url("../img/rss.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  padding-left: 30px;
}

#github-icon:hover {
  opacity: 0.5;
}

#podcast-icon:hover {
  opacity: 0.5;
}

#rss-icon:hover {
  opacity: 0.5;
}
