/* ==========================================================================
 Thumbnails / Icons
 ========================================================================== */
.icon-gallery a {
  padding: 5px;
  display: inline-block
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  padding-left: 30px;
}

.icon:hover {
  opacity: 0.5;
}

.github {
  background-image: url("../icons/github.svg");
}

.google-sheets {
  background-image: url("../icons/google-sheets.svg");
}

.pdf {
  background-image: url("../icons/pdf.svg");
}

.podcast {
  background-image: url("../icons/podcast.svg");
}

.radar {
  background-image: url("../icons/radar.png");
}

.rss {
  background-image: url("../icons/rss.svg");
}

.web {
  background-image: url("../icons/web.svg");
}

.youtube {
  background-image: url("../icons/youtube.svg");
}
